# Task 1 - Introduction to Flink SQL
In this task we will work with Iris dataset. Please download it into `task1/data/` folder.

`wget https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data -O /home/jovyan/task1/data/iris.csv`

The line below we use to load jupyter magics.

In [ ]:
%reload_ext streaming_jupyter_integrations.magics

We use `%flink_connect` to initialize local environment.

In [ ]:
%flink_connect

We have table definition below. You have to fill this DDL with proper data types.

In [ ]:
%%flink_execute_sql
CREATE TABLE iris_input (
    sepal_length DECIMAL(3,1),
    sepal_width DECIMAL(3,1),
    petal_length DECIMAL(3,1),
    petal_width DECIMAL(3,1),
    class STRING
) WITH (
    'connector' = 'filesystem',
    'path' = 'file:///home/jovyan/task1/data/',
    'format' = 'csv',
    'csv.ignore-parse-errors' = 'true' -- we have some empty lines at the end of file
)

Now you can query the table and validate results. If they are invalid, feel free to `DELETE TABLE iris_input`, fix definition and try again.

In [ ]:
%%flink_execute_sql
SELECT * FROM iris_input

If everything is ok you can save the most important data to the new location in JSON format. We know that the highest class correlation have petal length and petal width. Let's create output table definition

In [ ]:
%%flink_execute_sql
CREATE TABLE iris_output (
    class STRING,
    petal_length DECIMAL(3,1),
    petal_width DECIMAL(3,1)
) WITH (
    'connector' = 'filesystem',
    'format' = 'json',
    'path' = 'file:///home/jovyan/task1/output/'
)

In [ ]:
%%flink_execute_sql
INSERT INTO iris_output
    SELECT class, petal_length, petal_width FROM iris_input